.TitleContainer {
  list-style-type: none;
  margin: 0;
  padding: 0 8px 4px 8px;
}

.TitleListItem {
  position: relative;
  padding: 4px 8px 4px 8px;
  margin: 8px;
  --box-shadow-color: white;
  box-shadow: inset 0 0 0 1px var(--box-shadow-color);
}

.TitleListItem[redeemed="true"] {
  --box-shadow-color: gold;
}

.TitleListItem::before {
  content: ' ';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  z-index: 1;
  background-color: white;
}

.TitleListItem[redeemed="false"][redeemable="false"]::before {
  background-color: white;
}

.TitleListItem[redeemed="false"][redeemable="true"]::before {
  background-color: cyan;
}

.TitleListItem[redeemed="true"]::before {
  background-color: gold;
  opacity: 0.1;
}

.TitleListItem:hover[redeemed="false"][redeemed="false"]::before {
  opacity: 0.1;
}

.TitleListItem:hover[redeemed="false"][redeemable="true"] {
  --box-shadow-color: cyan;
}
