.TitleName {
  color: var(--color);
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.TriumphContainer {
  list-style-type: none;
  margin: 0;
  padding: 0 8px 4px 8px;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: auto;
  grid-column-gap: 8px;
}

.TriumphListItem {
  display: flex;
  padding: 4px;
}
