.TitleContainer {
  list-style-type: none;
  margin: 0;
  padding: 0 8px 4px 8px;
}

.TitleListItem {
  position: relative;
  padding: 4px 8px 4px 8px;
  margin: 8px;
  --box-shadow-color: white;
  box-shadow: inset 0 0 0 1px var(--box-shadow-color);
}

.TitleListItem::before {
  content: ' ';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: gold;
  opacity: 0.0;
}

.TitleListItem:hover::before {
  opacity: 0.1;
  z-index: 1;
}

.TitleListItem:hover {
  --box-shadow-color: gold;
}
