.TitleName {
  font-size: 2.5em;
  font-weight: bold;
}

.TriumphContainer {
  list-style-type: none;
  margin: 0;
  padding: 0 8px 4px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.TriumphListItem {
  padding: 4px;
}
